/*----------------------------
            Fonts 
------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Poppins:wght@400;500&family=Roboto&display=swap');

/* ----------------------------------
        common style or utilities 
--------------------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    padding: 30px;
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 22px;
    margin-bottom: 30px;
}

/* ---------------------------
           Top Players 
----------------------------*/


.section-title{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}

/* ---------------------------
           Top Blog 
----------------------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}
.blog{
    display: flex;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
}
.blog-info p{
    color: #9F9F9F;
}