/*----------------------------
            Fonts 
------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Poppins:wght@400;500&family=Roboto&display=swap');

/* ----------------------------------
        common style or utilities 
--------------------------------------*/

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    padding: 30px;
    width: 870px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-bottom: 20px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 22px;
    margin-bottom: 30px;
}

/* ---------------------------
           Top Players 
----------------------------*/


.section-title{
    font-weight: 500;
    font-size: 24px;
    color: #562EFF;
    margin-top: 3px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}

/* ---------------------------
           Top Blog 
----------------------------*/

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
}
.blog{
    display: flex;
}
.blog-image img{
    width: 177px;
    height: 117px;
}
.blog-info{
    margin-left: 16px;
}
.blog-info a{
    text-decoration: none;
    color: #562EFF;
}
.blog-info p{
    color: #9F9F9F;
}

/*--------------------------------
           Course Blog 
---------------------------------*/

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 35px;
    margin-left: 15px;
    width: 270px;
}
.course{
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgb(222, 221, 221);
}
.course-description img{
    width: 224px;
    height: 104px;
}
.course-description p{
    color: #ED6B4F;
}
.course-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.star-color{
    color: #FFC014;;
}
.ratting{
    color: gray;
}
.duration{
    background-color: #FFE4E8;
    color: #FF4A60;;
    padding: 5px 7px;
    border-radius: 25px;
}


/* ----------------------
      Media Queries
-------------------------- */

/* Mobile devices */

@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .player,.blog{
        flex-direction: column;
        align-items: center;
    }
    .course{
        margin-left: 45px;
    } 
}

/* Tablet devices */

@media only screen and (min-width:689px) and (max-width:991px){
    .container{
        width: 100%;
    }
    .section-title{
        text-align: center;
    }
    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .player,.blog{
        flex-direction: column;
        align-items: center;
    } 
    .course{
        margin-left: 80px;
    }
    
}